<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Formulario de Cadastro</title>
</head>
<body>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Formulario</legend>
                <div>
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" required autofocus>
                    </div>

                    <div class="form-group" >
                        <label for="email">Email: </label>
                        <input type="email" name="email" required>
                    </div>

                    <div class="form-group" >
                        <label for="gender">Gênero: </label><br>
                        <input type="radio"  name="gender" value="cis" required> Cis
                        <input type="radio" name="gender" value="trans"> Trans
                        <input type="radio" name="gender" value="nb"> Não-binário
                        <input type="radio" name="gender" value="ni"> Não informar
                    </div>

                    <div class="form-group" >
                        <label for="specialization">Especialização: </label><br>
                        <input type="radio"  name="specialization" value="frontend" required> Front-end
                        <input type="radio" name="specialization" value="backend"> Back-end
                        <input type="radio" name="specialization" value="business"> Negócios
                        <input type="radio" name="specialization" value="ux"> Ux/Ui
                    </div>

                    <div class="form-group">
                        <label for="knowledge">Nível de conhecimento</label><br>
                        <input type="radio" name="knowledge" value="1"> Básico
                        <input type="radio" name="knowledge" value="2"> Intermediário
                        <input type="radio" name="knowledge" value="3"> Avançado
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>

            </fieldset>

        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>