<!doctype html>
<html class="no-js" lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Membros | 118</title>
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>

<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar hide-for-large">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="my-info"></button>
          </div>
        </div>
        <div class="callout primary">
          <div class="row column">
            <h1>Olá, seja Bem Vindo!</h1>
            <p class="lead">É necessário que os campos abaixo sejam preenchidos corretamente.
              Assim sua inscrição será efetivada corretamente, não se preocupe se é o seu
              primeiro hackaton ou se não possuí experiência na área, iremos organizar as
              equipes sempre visando o equilibrio e aprendizado.
            </p>
          </div>
        </div>
        <div class="small-3 small-centered columns">
          <label>Nome
            <input type="text" placeholder="nome" name="nome">
          </label>
          <label>Email
            <input type="text" placeholder="Email" name="email">
          </label>
          <label>XP
              <input type="text" placeholder="nível de experiência" name="xp">
            </label>
          <label>Função
            <select name="funcao">
              <optgroup>
                <option>Selecione uma função...</option>
                <option>Dev. Back-end</option>
                <option>Dev. Front-End</option>
                <option>Marketing</option>
                <option>UX/UI</option>
                <option>Outros...</option>
              </optgroup>
            </select>
          </label>
          <label>
            O que espera do evento?
            <textarea placeholder="digite uma mensagem..."></textarea>
          </label>
          <input type="submit" class="button expanded" value="Enviar">

          <br>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="medium-15 columns">
          <h3>Shawee | Startup 118</h3>
          <p>Nós somos uma plataforma online que gerencia
            todo o processo de um hackathon. Pensando em todos os envolvidos .</p>
          <ul class="menu">
            <li><a href="https://www.linkedin.com/company/perifacode/">LinkedIn</a></li>
            <li><a href="https://github.com/perifacode">Github</a></li>
            <li><a href="https://www.facebook.com/perifaCode/">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>